.container{
    display: flex;
    box-shadow: 5px 5px 5px 5px lightgrey;
    cursor: pointer;

}
.column
{
    width: 30%;
    
}
.mt-text{
    color:grey;
}
.text{
    padding-left: 120px;
    color: black;
}
.media-body{
    padding-top: 20px;
    width: 60%;
}
.text-size {
padding-left: 100px;
padding-top: 20px;
}
h4:hover, .text-size:hover {
    transform: scale(1.15);
}
h1{
    padding-left: 110px;
    padding-top: 20px;
    }
.media
{
   padding: 5px 5px 25px 5px;
}
.display-heading{
    font-size: 5rem;
    margin-bottom: 30px;
}


.hrstyle{
    border: 2px dashed #777777; 
    width: 80%;
    margin-bottom: 5%;
  }

  .headingcourse{
      font-weight: bold;
      font-size: 2rem;
      margin-top: 15px;
  }