.form
{   
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 80px;
    box-shadow: 3px 3px 3px 3px lightgray;
}
.btn{
    border-radius: 5px;
    border: none;
    color: black;
    background-color:  rgb(233, 208, 17);
}
.form-group{
    padding: 10px;
}
