<section>
  <div class="row mx-0">
    <h2 mat-dialog-title class="col dialog-title">
      Welcome To Cybage E-learning!
    </h2>
    <mat-icon mat-dialog-close class="">close</mat-icon>
  </div>
  <mat-tab-group dynamicHeight [(selectedIndex)]="currentIndex">
    <!-- Login  -->
    <mat-tab
      label="Login"
      class="login-title"
      *ngIf="!forgotPass && !requestAdmin"
    >
      <form [formGroup]="loginForm">
        <div class="container">
          <div class="row">
            <mat-form-field
              class="form-field col-12 mt-3"
              appearance="outline"
              color="primary"
            >
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" required />
              <mat-error
                *ngIf="
                  loginForm.controls.username.touched &&
                  loginForm.controls.username.invalid
                "
              >
                <span>This field is mandatory</span>
              </mat-error>
                <span  class="errMsgLongin mt-5" *ngIf="errMsgLogin != ''&& loginForm.controls.username.touched">{{ errMsgLogin }}</span>
            </mat-form-field>
            <mat-form-field
              class="form-field col-12"
              appearance="outline"
              color="primary"
            >
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" required  [type]="hide ? 'password' : 'text'" />
              <mat-icon matSuffix (click)="hide = !hide" color="deep">
                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error
                *ngIf="
                  loginForm.controls.password.touched &&
                  loginForm.controls.password.invalid
                "
              >
                <span>This field is mandatory</span>
              </mat-error>
              <span  class="errMsgLongin mt-5" *ngIf="errMsgPassword != ''">{{ errMsgPassword }}</span>
            </mat-form-field>
          </div>
          <div class="row buttons d-flex mt-2">
            <div>
              <button
                type="submit"
                value="submit"
                (click)="loginUser()"
                class="btn btn-md btn-secondary ml-3"
              >
                Submit
              </button>
            </div>
            <div class="ml-auto mr-3">
              <!-- <button class="btn btn-lg pl-5 pr-5 btn-secondary">nextButton</button> -->

              <a (click)="openForgotPass()" class="forgot">Forgot Password</a>
            </div>
          </div>
        </div>
      </form>
    </mat-tab>

    <!-- Registration form -->
    <mat-tab label="Sign Up" *ngIf="!forgotPass && !requestAdmin">
      <div *ngIf="!isOTP" class="form-container">
        <form [formGroup]="registrationForm">
          <mat-form-field
            class="form-field col-6 mt-3"
            appearance="outline"
            color="primary"
          >
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required />
            <mat-error
              *ngIf="
                registrationForm.controls.name.touched &&
                registrationForm.controls.name.invalid
              "
            >
              <span>This field is mandatory</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field
            class="form-field col-6"
            appearance="outline"
            color="primary"
          >
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              required
              (keyup)="checkEmail()"
            />
            <mat-error
              *ngIf="
                registrationForm.controls.email.touched &&
                registrationForm.controls.email.invalid
              "
            >
              <span>Enter valid email</span>
            </mat-error>
            <span  class="errMsgLongin"*ngIf="errMsgEmail != ''">{{ errMsgEmail }}</span>
          </mat-form-field>
         
         

          <mat-form-field
            class="form-field col-6"
            appearance="outline"
            color="primary"
          >
            <mat-label>Username</mat-label>
            <input
              matInput
              formControlName="username"
              required
              (keyup)="checkUsername()"
            />
            <mat-error
              *ngIf="
                registrationForm.controls.username.touched &&
                registrationForm.controls.username.invalid
              "
            >
              <span>This field is mandatory</span>
            </mat-error>

              <span class="errMsgLongin" *ngIf="errMsgLoginReg != ''">
                {{ errMsgLoginReg }}
              </span>
          </mat-form-field>

          <mat-form-field
            class="form-field col-6"
            appearance="outline"
            color="primary"
          >
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" required  [type]="hide ? 'password' : 'text'" />
            <mat-icon matSuffix (click)="hide = !hide" color="deep">
              {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error
              *ngIf="
                registrationForm.controls.password.touched &&
                registrationForm.controls.password.invalid
              "
            >
              <span>Enter valid password (min. len=6)</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field
            class="form-field col-6"
            appearance="outline"
            color="primary"
          >
            <mat-label>Mobile Number</mat-label>
            <input matInput type="number" formControlName="mobileNo" required />
            <mat-error
              *ngIf="
                registrationForm.controls.mobileNo.touched &&
                registrationForm.controls.mobileNo.invalid
              "
            >
              <span>Enter valid mobile</span>
            </mat-error>
          </mat-form-field>

          <mat-checkbox class="example-margin col-9 mt-3" formControlName="prime" matTooltip="Get 30% Off"  [matTooltipPosition]="position.value"
            >Get Prime membership</mat-checkbox
          >
          <button
          class="col-3"
          type="submit"
          value="submit"
          (click)="registerUser()"
          class="btn btn-md btn-secondary w-25"
        >
          Submit
        </button>
        
        </form>
      </div>

      <div *ngIf="isOTP" class="form-container">

        <form [formGroup]="otpForm">
       
          <mat-form-field
            class="form-field col-12 mt-2"
            appearance="outline"
            color="primary"
          >
            <mat-label>Enter OTP</mat-label>
            <input matInput formControlName="otp" required type="text" />
           
              <span *ngIf="errMsg != ''" class="errMsgLongin mt-5">Invalid Otp</span>
           
          </mat-form-field>

          <input type="submit" value="submit"   class="btn btn-md btn-secondary w-25" (click)="verifyOTP()" />
        </form>
      </div>

    </mat-tab>

    <!--Forgot Password-->
    <mat-tab label="Forgot Password" *ngIf="forgotPass && !requestAdmin">
      <!--Form to get email address-->
      <form [formGroup]="getEmailForm" *ngIf="!forgotPassOTP">
          
        <mat-form-field
          class="form-field col-12 mt-3"
          appearance="outline"
          color="primary"
        >
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required (keyup)="checkEmailOTP()" />
          <mat-error
            *ngIf="
            getEmailForm.controls.email.touched &&
            getEmailForm.controls.email.invalid
            "
          >
          <!-- <span  class="errMsgLongin"*ngIf="errMsgEmail != ''">{{ errMsgEmail }}</span> -->
          </mat-error>
          <p class="errMsgLongin">
            <span *ngIf="errMsgEmail != ''">{{ errMsgEmail }}</span>
          </p>
        </mat-form-field>
   
   
      <div class="text-center">
        <button
     
        type="button"
        value="Get OTP"
        (click)="generateOTP()"
        class="btn btn-md btn-secondary  w-50 mt-3 "
      >
        Get OTP
      </button>
    </div>

      </form>

      <!--Form that accepts OTP and shows the email entered-->
      <form [formGroup]="forgotOTPForm" *ngIf="getOTP">
        <mat-form-field
        class="form-field col-12 mt-3"
          appearance="outline"
          color="primary"
        >
          <mat-label>Enter OTP</mat-label>
          <input matInput formControlName="otp" required type="text" />
            <span  class="errMsgLongin mt-5" *ngIf="errMsg != ''">Invalid Otp</span>
        
        </mat-form-field>

        <div class="text-center">
          <button
          type="button"
          value="Submit"
          (click)="verifyForgotOTP()" 
          class="btn btn-md btn-secondary  w-50 mt-3 "
        >
          Submit
        </button>
        </div>
      </form>

      <!--Form to accept the new password-->
      <form [formGroup]="resetPassForm" *ngIf="resetPass">
        <mat-form-field
          class="form-field col-11"
          appearance="outline"
          color="primary"
        >
          <mat-label> Reset Password</mat-label>
          <input matInput formControlName="password" required  [type]="hide ? 'password' : 'text'"/>
        </mat-form-field>
       
        <mat-icon matSuffix (click)="hide = !hide" color="deep">
          {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error
          *ngIf="
          resetPassForm.controls.password.touched &&
          resetPassForm.controls.password.invalid
          "
        >
          <span>This field is mandatory</span>
        </mat-error>
        <div class="text-center">
         <!-- <input type="submit" value="submit" (click)="resetPassword()" /> -->
          <button (click)="resetPassword()" class="btn btn-md btn-secondary  w-50 mt-3 ">Submit </button>
        </div>
      </form>
    </mat-tab>

    <!--Request Admin-->
    <mat-tab label="Account blocked" *ngIf="requestAdmin">
      <h4>Your Account has been blocked</h4>
      <h5>To request admin to unblock your account please send request</h5>
     

      <div class="text-center">
        <button
        type="button"
        value="Request Admin"
        (click)="requestAdminfun()" 
        class="btn btn-md btn-secondary  w-50 mt-3 "
      >
      Request Admin
      </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
