<footer class="section footer-classic context" >
    <div class="container ">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><a class="brand"></a>
            <span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Find Us @</span><br>
            <p>Cybage Software, Adarsh Nagar, Kalyani Nagar, Pune, Maharashtra 411014</p>
          </div>
        </div>
        <div class="col-md-4">
          <dl class="contact-list">
            <span><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;Mail Us @</span><br>
            <a href="mailto:tanvima@cybage.com">Cybage@gmail.com</a>
          </dl>
          <dl class="contact-list">
            <span><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Call Us @</span><br>
            <a href="tel:7020619709"> +917020619709</a> <span>or</span> <a href="tel:#"> +919016243435</a>
            
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <span><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Follow us</span>
          <ul class="nav-list">
           
                  <a href="#"><i class="fa fa-facebook-square facebook-bg"></i></a>
                 <a href="#"><i class="fa fa-twitter-square twitter-bg"></i></a>
                 <a href="#"><i class="fa fa-instagram insta-bg"></i></a>
                 <a href="#"><i class="fa fa-linkedin-square linked-bg"></i></a>
                 <a href="#"><i class="fa fa-google-plus google-bg"></i></a>
                 <a href="#"><i class="fa fa-dribbble dribble-bg"></i></a>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutters social-container">
      <div class="col">
        <div class="footer-copyright text-center">© 2021 Copyright:
          Cybage e-Learning.com
        </div>
        </div>
    </div>
  </footer> 