<div class="container-fluid text-center"> 
  <h1>Videos</h1>
  <hr class="hrstyle" />
</div>
<div class="container">
  <div class="row">

    <label for="course">Course List</label>
       <select #cId (change)="getCourseId(cId.value)" class="form-control">
        <option value="null" >All Courses</option>
           <option  *ngFor="let c of course" value={{c.courseId}}>{{c.courseName}}</option>
       </select>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-sm-4" *ngFor="let v of video|async">
      <div class="card text-center">
        <h3>
          <div class="card-header">
            {{v.videoName}}
          </div>
        </h3>
        <div class="card-body">
          <video [src]="v.videoPath" class="card-img-top" alt="Media not supported"></video>
          <h3> Video Description: </h3>
          <p class="card-title">{{v.videoDesc}}</p>
        </div>
        <div class="card-footer text-muted">
          <button type="button" class="btn2" data-toggle="modal" data-target="#myModal"
            (click)="dataForUpdateVideo(v.videoId)">Update</button>&nbsp;&nbsp;&nbsp;
          <button class="btn1" (click)="deleteVideos(v.videoId)">Delete</button>
  
        </div>
      </div>
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form [formGroup]="videoUpdateForm">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Update video</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
  
              <!-- Modal body -->
              <div class="modal-body" *ngIf="videoById">
                <div class="form-group">
                  <label for="videoName">video Name</label>
                  <input type="text" class="form-control" formControlName="videoName" >
                  <div *ngIf="videoUpdateForm.controls.videoName?.invalid && videoUpdateForm.controls.videoName?.touched" [ngStyle]="{'color':'red'}">Please Enter Characters Between 3 to 15</div>  
  
                </div>
  
                <div class="form-group">
                  <label for="videoDesc">video Desc</label>
                  <!-- <input type="text" class="form-control" formControlName="videoDesc" > -->
                  <textarea
                  type="text"
                  class="form-control"
                  formControlName="videoDesc"
                  placeholder="Video Description"
                  rows="3"
                ></textarea>
                  <div *ngIf="videoUpdateForm.controls.videoDesc?.invalid && videoUpdateForm.controls.videoDesc?.touched" [ngStyle]="{'color':'red'}">Please Enter Characters Between 10 to 100</div>  
                </div>
                <div>
                  <label for="videoPath">video </label> <br>
                  <!-- <video controls [src]=videoById.videoPath height="300px" width="300px"></video> -->
                  <input type="file" class="form-control" name="videoPath" formControlName="videoPath">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" (click)="updateVideo(v.videoId)" class="btn btn-info"
                  data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <!--confirmation-->
 <button data-toggle="modal"  [hidden]="true" #confirmation data-target="#modalDialogconfirmation">Confirmation</button>
  
 <div class="modal" id="modalDialogconfirmation">
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-body">
               <p>Are you sure?</p>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-secondary" 
                       data-dismiss="modal" (click)="confirmDelete()">OK</button>
           </div>
       </div>
   </div>
   </div>

   <!--notification-->
 <button data-toggle="modal" [hidden]="true" #notification data-target="#modalDialogNotification">Category Not Null</button>
 
 <div class="modal" id="modalDialogNotification">
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-body">
               <p>Video deleted!</p>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-secondary" 
                       data-dismiss="modal">OK</button>
           </div>
       </div>
   </div>
   </div>

