.chart-wrapper{
    margin-right: auto;
    margin-left:auto;
    border:#f2f2f2 solid 2px;
    width:80%;
    padding:15px
}
.hrstyle{
    border: 2px dashed #777777; 
    width: 80%;
    margin-bottom: 5%;
  }