<div class="container pt-5">
    <div class="jumbotron main">
      <section class="error-container">
        <span>4</span>
        <span><span class="screen-reader-text">0</span></span>
        <span>4</span>
        <p class="lead text-muted pt-3 font-weight-bolder">whoops! </p>
        <p class="lead text-muted pt-3 font-weight-bolder">Looks like page went on vacation.</p>
      </section>
      <div class="link-container">
        <a target="_blank" class="more-link" [routerLink]="['/home']">Let's Go Home</a>
      </div>
      </div>
  </div>
