<section>
    <div id="header">
        <!-- <nav class="navbar">
            <div class="container-fluid">
            <div id="logo">
            </div>
                <div class="cornerdata highlight">
                    <a>
                        <h5>Log in<i class="fas fa-sign-in-alt"></i></h5>
                    </a>
                </div>
            </div>
        </nav> -->
    <div class="maincont">
        <span class="display-3">Your Course to success</span><br>
        <p class="display-6 ">Build skills with courses, certificates, and
            degrees online from world-class universities and companies.Real-world experts teaching real-world skills.</p>
        <br>
        <div class="row justify-content-center highlight">
             <button id="button1" class="col-lg-2 lead highlight">Explore</button> 
             <button id="button2" class="col-lg-2 lead highlight">Join for Free</button>
             <span class="col-2"></span> 
             <span class="col-1"></span>
        </div>
    </div>
    </div>
    </section>

    <div class="container-fluid ">
    <div class="row seperateRow py-5 justify-content-center">
        <div class="row">
            <div class="col-lg-12">
                 <p class="text-center h2">Achieve your goals with Cybage e-Learning</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-1 col-md-4 col-sm-4 col-xs-4 col-3 text-center me-4 ms-5">
                <img alt="Media not supported" src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Learn.svg?auto=format%2Ccompress&dpr=1&w=&h=55">
              <p class="pt-2 h5 goaltext">Learn the<br>
                    latest skills</p>
                    <span class="gol-desc"> business analytics, graphic design, Python, and more</span>
            </div>
            <div class="col-lg-1 col-md-4 col-sm-4 col-xs-4 col-3 text-center mx-5">
                    <img alt="Media not supported" src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Get-Ready.svg?auto=format%2Ccompress&dpr=1&w=&h=55">
                  <p class="pt-2 h5 goaltext">Get ready<br>
                        for a career</p>
                        <p> business analytics, graphic design, Python, and more</p>
                </div>
            <div class="col-lg-1 col-md-4 col-sm-4 col-xs-4 col-3 text-center mx-5">
                    <img alt="Media not supported" src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Earn-Degree.svg?auto=format%2Ccompress&dpr=1&w=&h=55">
                  <p class="pt-2 h5 goaltext ">Earn<br>
                        a certificate<br>
                       </p>
                        <p>from a leading university in business, computer science, and more</p>
                </div>
            <div class="col-lg-1 col-md-4 col-sm-4 col-xs-4 col-3 text-center mx-5">
                    <img alt="Media not supported" src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/front-page-rebrand/achieve-your-goals/Icon-Upskill-your-org.svg?auto=format%2Ccompress&dpr=1&w=&h=55">
                  <p class="pt-2 h5 goaltext ">Upskill your <br>
                        organization
                        <p>with on-demand training and development programs</p>
                </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>

